.section
  %table        
    %tr
      %td
        .label.top.req #{t :name}:
        = f.text_field :name
    %tr
      %td
        .label.top.req #{t :internal_id}:
        = f.text_field :internal_id    