.section
  %table        
    %tr
      %td
        .label.top.req #{t :name}:
        = f.text_field :description
    %tr
      %td
        .label.top.req #{t :alias}:
        = f.text_field :alias    